[submodule "demo1/explorer"]
	path = demo1/explorer
	url = https://github.com/etherparty/explorer.git
[submodule "demo1/monitor/eth-netstats"]
	path = demo1/monitor/eth-netstats
	url = https://github.com/cubedro/eth-netstats.git
[submodule "demo1/monitor/eth-net-intelligence-api"]
	path = demo1/monitor/eth-net-intelligence-api
	url = https://github.com/cubedro/eth-net-intelligence-api.git
